{% csrf_token %}
{% load static %}
<page-element name="game" src="/static/js/views/Defaultgame.js" >

    <div class="container">
        <div class="text-center mt-5">
            <div class="centered-div">
                <br><br>
                <h3>Choose the number of players</h3><br>
                <div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="playerButtons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option1" data-players="1" autocomplete="off"> vs chatgtp
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" data-players="2" autocomplete="off"> vs Local Challanger
                        </label>
                    </div>
                </div><br>
                <h3>Choose the color of the ball</h3><br>
                <form class="d-flex justify-content-center" >
                    <input type="color" class="form-control form-control-color" id="ballColor" value="#00CC00" title="Choose a color">
                </form><br>
                <h3>Choose the background color</h3><br>
                <form class="d-flex justify-content-center">
                    <input type="color" class="form-control form-control-color" id="bgColor" value="#000000" title="Choose a color">
                </form><br>
                <h3>Choose the color of the paddles</h3><br>
                <form class="d-flex justify-content-center">
                    <input type="color" class="form-control form-control-color" id="paddleColor" value="#00CC00" title="Choose a color">
                </form><br>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" id="startGameButton">Start game</button>
                </div>  	
                <input type="hidden" >
                <input type="hidden" id="gameMode" value="local">
            </div>
            <canvas id="gameCanvas"></canvas>
        </div>
    </div>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
    }
    .btn-group .btn.active {
        background-color: #007bff;
        color: white;
    }
    canvas {
        display: none;
    }

    .centered-div {
	padding-top: 90px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>
 
</page-element>