<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login with 42</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'landing' %}">Transcendence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'game' user.pk %}" tabindex="-1" aria-disabled="true">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'chat' user.pk %}">chat</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
        </li>
        {% endif %}
      
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="text-center mt-5">
        {% if user.is_authenticated %}
            <h1>Choose your option, {{user.playerprofile.nick}} </h1>
            <br>
            <br>
            
            <a href="{% url 'game' user.pk %}" class="btn btn-secondary">Local Game</a>
            <br>
            <br>
            <a href="#" class="btn btn-secondary">online 1v1 Game</a>
            <br>
            <br>
            <a href="#" class="btn btn-secondary">Tournament</a>
            
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <h1>Login with 42</h1>
            <a href="/auth/42" class="btn btn-primary">Login with 42</a>
        {% endif %}
    </div>
</div>