{% load static %}
<page-element name="profile"  src="/static/js/views/Profile.js">

  <div class="container" id="main">
    <div class="row">
      <!-- User Profile Section (Left Side) -->
      <div class="col-md-8">
        <div class="text-center mt-5">
            <h1>Welcome, </h1>
            <br>
            <img src="{% static 'images/default.jpg' %}" alt="Default Profile Image" class="img-fluid rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
            <br>
            <h2>Nick: </h2>
            <h2>Losses: </h2>
            <h2>Winnings: </h2>
            <h2>Total Points: </h2>
            <a href="/" class="btn btn-secondary">Edit Nickname</a>
            <a href="/" class="btn btn-secondary">Match History</a>
              <div class="messages mt-3">
              </div>
        </div>
      </div>

      <!-- Friends Section de ladinho papai -->
      <div class="col-md-4">
        <div class="mt-5">
          <h2 class="text-center mb-4">Friends</h2>
          <div id="friendsList" class="list-group mb-3">
            <ul>
              </ul>
          </div>
          <button id="addFriendBtn" class="btn btn-secondary w-100">Add Friend</button>
        </div>
      </div>
    </div>

    
  </div>

  <div class="centered-div">
    <canvas></canvas>
  </div>
 
</page-element>
